<div class="container">
  <div class="row">
    <div class='view' [style.display]="getStyle()">
      <div>
        <span class='info'> Week:</span>
        <span class='item'>{{singleCar.counter}} </span> &nbsp;&nbsp;
        <span class='info'> Weight:</span>
        <span class='item'> {{singleCar.name}} </span> &nbsp;&nbsp;
      </div>

      <strong>Hard training :</strong>
      <span class='itemTraining'>{{singleCar.times}}

<div class='inline' *ngIf="singleCar.times === 6" >
        <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
        <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
        <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
        <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
        <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
        <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
</div>


<div class='inline' *ngIf="singleCar.times === 5" >
  <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
  <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
  <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
  <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
  <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
</div>


<div class='inline' *ngIf="singleCar.times === 4" >
  <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
  <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
  <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
  <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
</div>

<div class='inline' *ngIf="singleCar.times === 3" >
  <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
  <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
  <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
</div>

<div class='inline' *ngIf="singleCar.times === 2" >
  <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
  <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
</div>

<div class='inline' *ngIf="singleCar.times === 1" >
  <span class='round' (click)='checked($event)' >{{singleCar.rutine}}</span>
</div>

      </span> 

      <div class='recovery'>
        <strong>Recovery training :</strong>
        <span class='itemTraining'>{{singleCar.six}}

          <span class='round' (click)='checked($event)' >{{singleCar.rec}}</span>
          <span class='round' (click)='checked($event)' >{{singleCar.rec}}</span>
          <span class='round' (click)='checked($event)' >{{singleCar.rec}}</span>
          <span class='round' (click)='checked($event)' >{{singleCar.rec}}</span>
          <span class='round' (click)='checked($event)' >{{singleCar.rec}}</span>
          <span class='round' (click)='checked($event)' (click)="showStyle = true" >{{singleCar.rec}}</span>

        </span>
      </div>

    </div>
  </div>
</div>