img{
    width:300px;
   
    border-radius:5px;
}

li{
    list-style: none;
}
li:hover{
    cursor:pointer;
    border:1px solid white;
    background-color: rgb(155, 255, 250);
}
.list{
    border:1px solid white;
    padding:20px;
    border-radius:5px;
    margin-top:20px;
    background-color: lightseagreen;
}
button{
    margin:20px 5px; 
}