<div class='recept-edit'>
  <h3>RECEPT DETAILS:</h3>
  <div class="dropdown"  appDrop>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
        Manage
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" appDrop>
        <a class="dropdown-item" routerLink='edit'>EDIT</a>
        <a class="dropdown-item" href="#">DELETE</a>
      </div>
    </div>
    <p>
    {{recept.name}}
    {{recept.description}}
  </p>
    <img src='{{recept.imgPath}}'>

    <ul class="list-group">
     <li
       class="list-group-item"
       *ngFor="let ingridient of recept.ingridients">
       {{ ingridient.name }} - {{ ingridient.amount }}
     </li>
     <button class='btn btn-success' (click)='addToShoppingList()'>Add to shopping list</button>
   </ul>
</div>
