
li{
    border:1px solid white;
    padding:20px;
    background-color:lightblue;
    margin:20px;
    list-style:none;
    color:black;
}

li:hover{
    cursor:pointer;
    background-color: rgb(155, 255, 250);
    color:red;
}